<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">
  <head>
  </head>
  <body>
  
	  <div layout:fragment="content">
	    
	    <div class="col-12">
			  
			<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Email</label>
			  <input type="email" class="form-control" id="exampleFormControlInput1">
			</div>
			<div class="mb-3">
			  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
			  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="mb-3">
			  <button type="button" class="btn btn-success">SEND</button>
			</div>						  
			                      
	    </div>
	                    
	</div>                    

  </body>
</html>