<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">
  <head>
  </head>
  <body>
  
	  <div layout:fragment="content">
	    	
	    <div class="col-4">
	        <div class="card">
	            <img th:src="@{/images/01.png}" class="card-img-top" alt="...">
	            <div class="card-body">
	                <h5 class="card-title">Card title</h5>
	                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                <a href="#" class="btn btn-primary">Go somewhere</a>
	            </div>
	        </div>                        
	    </div>
	    <div class="col-4">
	        <div class="card">
	            <img th:src="@{/images/06.png}" class="card-img-top" alt="...">
	            <div class="card-body">
	                <h5 class="card-title">Card title</h5>
	                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                <a href="#" class="btn btn-primary">Go somewhere</a>
	            </div>
	        </div>                        
	    </div>
	    <div class="col-4">
	        <div class="card">
	            <img th:src="@{/images/10.png}" class="card-img-top" alt="...">
	            <div class="card-body">
	                <h5 class="card-title">Card title</h5>
	                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                <a href="#" class="btn btn-primary">Go somewhere</a>
	            </div>
	        </div>                        
	    </div>
	    <div class="col-4">
	        <div class="card">
	            <img th:src="@{/images/11.png}" class="card-img-top" alt="...">
	            <div class="card-body">
	                <h5 class="card-title">Card title</h5>
	                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                <a href="#" class="btn btn-primary">Go somewhere</a>
	            </div>
	        </div>                        
	    </div>
	    <div class="col-4">
	        <div class="card">
	            <img th:src="@{/images/13.png}" class="card-img-top" alt="...">
	            <div class="card-body">
	                <h5 class="card-title">Card title</h5>
	                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                <a href="#" class="btn btn-primary">Go somewhere</a>
	            </div>
	        </div>                        
	    </div>                                                                                                    
	    <div class="col-4">
	        <div class="card">
	            <img th:src="@{/images/16.png}" class="card-img-top" alt="...">
	            <div class="card-body">
	                <h5 class="card-title">Card title</h5>
	                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                <a href="#" class="btn btn-primary">Go somewhere</a>
	            </div>
	        </div>                        
	    </div>
	    
	</div>
                
  </body>
</html>