<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">
  <head>
  </head>
  <body>
  
  	<div layout:fragment="content">
	
	    <div class="col-12">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Name</th>
			      <th scope="col">Lastname</th>
			      <th scope="col">Age</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Mark</td>
			      <td>Red</td>
			      <td>38</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Robert</td>
			      <td>Green</td>
			      <td>40</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td>Luke</td>
			      <td>Brown</td>
			      <td>52</td>
			    </tr>
			  </tbody>
			</table>                      
	    </div>
    
   </div>
                
  </body>
</html>